<!-- <h1>mfe1</h1> -->

<!-- <mfe1-upload></mfe1-upload> -->
<!-- <mfe1-download></mfe1-download> -->
<div style="border: 1px; border-style: dashed; border-color: blue; padding: 10px;">

    <img width="200px" src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg">
    <div>
        Lets connect together around the world
        <div>
            <button (click)="post()" style="width: 100px; height: 50px; background-color: rgb(61, 61, 250);
            color: white; margin-top: 10px; margin-left: 100px;">Post It</button>
        </div>
    </div>
</div>